
:root {
    --vt-c-black: #181818;
    --vt-c-white: #ffffee;
    --vt-link-default: #00bd7e;
    --vt-link-clicked: #def326;
    box-sizing: content-box;
}

html {
    background-color: var(--vt-c-black);
    color: var(--vt-c-white);
    font-size: 20px;
}

h1 {
    font-size: 48px;
    font-family: "Times New Roman", serif;
    color: var(--vt-link-default);
}

h2 {
    font-size: 32px;
    font-family: "Times New Roman", serif;
    color: var(--vt-link-default);
}

header {
    padding: 10px;
}

#cvLink {
    color: var(--vt-link-default);
    padding: 0px;
}

a {
    color: var(--vt-c-black);
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 15px);
}

a:hover {
    color: var(--vt-link-default);
    background: var(--vt-c-black);
}

.wrapper {
    text-align: center;
    vertical-align: center;
}

#authorImg {
    float: right;
    max-height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.linksGrid {
    display: grid;
    gap: 1.5rem 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 10px solid var(--vt-link-default);
}

/*
 * Prevent the last entry from showing a border
 */
.linksGrid:last-child {
    border-bottom: unset;
}

.link {
    padding: 5px;
    background: lightgray;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.linkTitle {
    font-weight: bold;
    word-break: break-word;
}

p.hideOnMobile {
    display: none;
}


.link img {
    min-width: 80px;
    max-width: 160px;
    border-radius: 10px;
    float: left;
    width: 100%;
}

a:hover > img.invert {
    filter: invert();
}

@media (min-width: 500px) and (max-width: 900px) {
    .linksGrid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .link a > p {
        padding: 1px;
        border-radius: 5px;
        text-align: right;
        display: block;
    }
}

@media (min-width: 901px) {

    .linksGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }

    .link a > p {
        padding: 1px;
        border-radius: 5px;
        text-align: right;
        display: block;
    }


    .link {
        max-width: 320px;
        
    }

    .link img {
        min-width: 160px;
    }
}