
:root {
    --vt-c-black: #181818;
    --vt-c-white: #ffffee;
    --vt-link-default: #00bd7e;
    --vt-link-clicked: #def326;
}

html {
    background-color: var(--vt-c-black);
    color: var(--vt-c-white);
    font-size: 20px;
}

h1 {
    font-size: 48px;
    font-family: "Gaelic", "Times New Roman", serif;
}

h2 {
    font-size: 32px;
    font-family: "Gaelic", "Times New Roman", serif;
}

header {
    padding: 10px;
}

.links li {
    list-style: "\261E";
    
}

.links a {
    margin-left: 10px;
}

a {
    font-weight: bold;
    color: var(--vt-link-default);
}

a:hover {
    color: var(--vt-link-clicked);
}

.wrapper {
    text-align: center;
    vertical-align: center;
}

.aside {
    font-size: 14px;
}

#authorImg {
    float: right;
    max-height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@font-face {
    font-family: "Gaelic";
    src: url("fonts/Bunchl.ttf");
}

.linksGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.link {
    padding: 5px;
    background: lightgray;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.link a > p {
    display: none;
}


.link img {
    min-width: 80px;
}

@media (min-width: 500px) {

    .linksGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }

    .link a > p {
        color: black;
        padding: 1px;
        border-radius: 5px;
        text-align: center;
        display: block;
        font-weight: initial;
    }

    .link a:hover > p {
        color: lightgray;
        background: black;
    }
    

    .link {
        max-width: 320px;
        
    }

    .link img {
        min-width: 160px;
    }
}